container_commands:
   10_cache:
      command: "php artisan config:clear"
      cwd: "/var/app/ondeck"
   11_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
   12_migrate_rollback:
      command: "php artisan migrate:rollback"
      cwd: "/var/app/ondeck"
      test: '[ "${MIGRATION_ROLLBACK}" == "enable" ]'
   13_migrate:
      command: "php artisan migrate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   14_seed:
      command: "php artisan db:seed --force"
      cwd: "/var/app/ondeck"
      leader_only: true
#   14_optimize:
#      command: "php artisan optimize --force"
#      cwd: "/var/app/ondeck"
   15_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod 777 -R /var/app/ondeck"
      cwd: "/var/app/ondeck"